@charset "UTF-8";

@media all and (max-width:1700px){
/* section9 */
#wrap #main #section9 .wrap .gap .container .bottom .btn-wrap {position:absolute;top:100%;right:50%;margin-top:0;margin-right:-88px;margin-left:-50px;width:auto;height:auto}
#wrap #main #section9 .wrap .gap .container .bottom .btn-wrap .btn-box-wrap {float:left;width:13px;height:auto;margin:0 10px;}
}
@media all and (max-width:1550px){
    #wrap #header .wrap .gap .container {width:100%;max-width:1140px;margin:0 auto;}
    #wrap #header .wrap .gap .container #nav ul li .menu > a {margin:0 1.5vw;}

    #wrap h2 {font-size:85px;}

    #wrap #main #section2 .wrap .gap .container {width:100%;max-width:1140px;margin:0 auto;}

    #wrap #main #section3 .wrap .gap .container .top-box {width:100%;max-width:1140px;margin:0 auto;} 

    #wrap #main #section4 .wrap .gap .container {width:100%;max-width:1140px;margin:0 auto;}
    
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap {display:inline-block;width:36vw;position:relative;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide0 img {width:100%;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide1 img {width:36vw;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide2 img {width:36vw;}
    
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content {width:100%;}

    #wrap #main #section7 .wrap .gap {padding:130px 0;}
    #wrap #main #section7 .wrap .gap .container {width:100%;max-width:1140px;margin:0 auto;}
    
    #wrap #main #section9 .wrap .gap .container {width:100%;max-width:1140px;margin:0 auto;}

    #wrap #main #section10 .wrap .gap .container {width:100%;max-width:1140px;margin:0 auto;}

    #wrap #footer .wrap .gap .container {width:100%;max-width:1140px;margin:0 auto;}
}

@media all and (max-width:1200px){

    /* 패딩 조정 */

    /* section2 */
    #wrap #main #section2 .wrap .gap .container .top-box .top-gap {padding:8.77192982% 0 7.0175439%;text-align: center;}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap {padding-bottom:8.77192982%;}
    
    /* section3 */
    #wrap #main #section3 .wrap .gap {padding:100px 0 8.77192982%;} 

    /* section4 */
    #wrap #main #section4 .wrap .gap {padding:11.4035088% 0;}
    #wrap #main #section4 .wrap .gap .container .left {width:70%;float:none;margin:0 auto;}
    #wrap #main #section4 .wrap .gap .container .left .left-gap .left-content p {font-size:18px;font-weight:400;width:100%;line-height:160%;padding:10px 0 30px;}
    #wrap #main #section4 .wrap .gap .container .right {width:100%;float:none;padding:100px 0;}

    /* section5 */
    #wrap #main #section5 .wrap .gap {padding-top:8.77192982%;}
    #wrap #main #section5 .wrap .gap .container .left {position:relative;width:90%;float:none;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap {border-top-right-radius:230px;border-bottom-right-radius:230px;overflow:hidden;}
    #wrap #main #section5 .wrap .gap .container .right {width:100%;float:none;padding:0}
    #wrap #main #section5 .wrap .gap .container .right .right-gap {padding:10.0827858% 10.0827858% 0;}
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content h6 {font-size:20px;font-weight:500;line-height:150%;width:30%;float:left;}
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content ul {padding-top:0;width:60%;float:right;padding-bottom:70px;}

    /* section6 */
    #wrap #main #section6 .wrap .gap {padding:11.4035088% 0;}

    /* section7 */
    #wrap #main #section7 .wrap .gap {padding:17.5438596% 0 17.4035088%;}

    /* section7 박스내리기 */
    #wrap #main #section7 .wrap .gap .container .left {position:relative;width:50%;float:none;}
    #wrap #main #section7 .wrap .gap .container .right {width:50%;float:none;margin:0 auto;padding-top:100px;}
    #wrap #main #section7 .wrap .gap .container .left .img-box {position:absolute;top:-120px;right:-200px;}

    /* section8 */
    #wrap #main #section8 .wrap .gap {padding:11.4035088% 0;}
    #wrap #main #section8 .wrap .gap .container .left .left-gap {padding:11.4035088% 10.0827858% 11.4035088% 17.5438596%;}
    #wrap #main #section8 .wrap .gap .container .left {width:90%;float:none;border-top-right-radius:250px;overflow:hidden;}
    #wrap #main #section8 .wrap .gap .container .right {width:70%;float:none;margin:0 auto;padding-top:50px;}
    #wrap #main #section8 .wrap .gap .container .right .right-gap .right-box {width:100%;}
    #wrap #main #section8 .wrap .gap .container .right .right-gap .right-box .right-box-gap {padding:50px 0;}
    #wrap #main #section8 .wrap .gap .container .right .right-gap .right-box .right-box-gap .right-box-wrap .img-box2 {width:25%;margin:0 auto;}

    /* section9 */
    #wrap #main #section9 .wrap .gap {padding:0 0 11.4035088% 0;}
    #wrap #main #section9 .wrap .gap .container .top .top-wrap .img-box img {width:130px;}
   /* section10 */
    #wrap #main #section10 .wrap .gap {padding:11.4035088% 0;}
    

    /* footer */
    #wrap #footer .wrap .gap {padding-top:11.4035088%;}
    #wrap #footer .wrap .gap .container .bottom {position:relative;}
    #wrap #footer .wrap .gap .container .bottom .left {width:30%} 
    #wrap #footer .wrap .gap .container .bottom .right {width:70%} 
    #wrap #footer .wrap .gap .container .bottom .left, .right {padding-top:200px;} 
    #wrap #footer .wrap .gap .container .bottom .left .left-gap {margin:0 15px 0 80px;}
    #wrap #footer .wrap .gap .container .bottom .left .left-gap .left-wrap .email-wrap {position:absolute;width:40%;top:0;left:30%;}
    #wrap #footer .wrap .gap .container .bottom .left .left-gap .left-wrap .email-wrap h2 {font-size:32px;padding-bottom:20px;text-align:center;}
    #wrap #footer .wrap .gap .container .bottom .left .left-gap .left-wrap .sns-wrap {padding:0 0 50px;}
}

@media all and (max-width:900px){
    #wrap #header .wrap .gap .container #nav ul li .menu > a {font-size:14px;}
    /* section5 */
    #wrap #main #section5 .wrap .gap .container .left .content-wrap .content-gap {padding:11.1578947% 3.5087719% 11.1578947% 11.5438596%;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap .content-gap .content .top-box {width:90%;padding-bottom:50px;}

}

@media all and (max-width:780px){
    #wrap #header::before {display:none;}
    #wrap #header::after  {display:none;}
    /* #wrap #header .wrap .gap .container #nav > ul > li > .menu > a {display:none;} */
    #wrap #header .wrap .gap .container #nav > ul > li #aside {display:none;}
    #wrap #header .wrap .gap .container .logo {left:50%;margin-left:-40.5px;}
    #wrap #header .wrap .gap .container .logo a img {width:80px;}
    #wrap #header .wrap .gap .container .mobile {display:block;}
    #wrap #header .wrap .gap .container .shop {display:block;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .sub-gap .sub-wrap ul > li.sub-menu .subsub {display:none;}

    #wrap h2 {font-size:70px;}
    #wrap #section1 h2 {font-size:70px;padding-top:60px;}

    /* 모바일 네비 */
    #wrap #header .wrap .gap .container #nav {display:none;z-index:2;width:100%;height:100%;position:fixed;top:0;bottom:0;background:#ed7b49;overflow-y:auto;}
    #wrap #header .wrap .gap .container #nav > ul {width:100%;padding-top:7.6923077;}
    #wrap #header .wrap .gap .container #nav > ul > li {float:none;width:95%;}

    #wrap #header .wrap .gap .container #nav > ul > li > .menu {display:block;line-height:50px;width:100%;font-family: 'El Messiri';}
    #wrap #header .wrap .gap .container #nav > ul > li > .menu7, 
    #wrap #header .wrap .gap .container #nav > ul > li > .menu8, 
    #wrap #header .wrap .gap .container #nav > ul > li > .menu9, 
    #wrap #header .wrap .gap .container #nav > ul > li > .menu10 {display:block;}
    #wrap #header .wrap .gap .container #nav > ul > li > .menu5,
    #wrap #header .wrap .gap .container #nav > ul > li > .menu6 {display:none;}

    #wrap #header .wrap .gap .container #nav > ul > li:first-child {text-align:left;}
    #wrap #header .wrap .gap .container #nav > ul > li:last-child {text-align:left;}
    #wrap #header .wrap .gap .container #nav > ul > li > .menu > a {position:relative;display:inline-block;line-height:100%;font-size:30px;font-weight:700;margin:0 0 0 40px;}
    #wrap #header .wrap .gap .container #nav > ul > li > .menu > a span {position:relative;bottom:-5px;left:0;width:0;height:2px;background:#333;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav > ul > li > .menu > a:hover span {width:100%;}
    #wrap #header .wrap .gap .container #nav > ul > li > .menu > a > img {display:block;margin-left:15px;}
    /* 서브 */
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub {display:none;z-index:2;position:absolute;top:0;left:0;width:100%;background:#ed7b49;height:100%;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .x-box1 {position:absolute;width:25px;top:20px;right:30px;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub.addEvent .x-box1 {display:none;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .x-box1 > img {width:100%;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .sub-gap {padding:12.8205128vw 0 0;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .sub-gap .sub-wrap {width:100%;height:100%;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .sub-gap .sub-wrap h6,
    #wrap #header .wrap .gap .container #nav > ul > li > .menu .sub .sub-gap .sub-wrap ul > li .subsub .sub-gap .sub-wrap .sub-menu-box .menu-title  {font-family: 'Inconsolata';font-size:18px;font-weight:400;line-height:50px;margin:0 40px;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .sub-gap .sub-wrap ul {width:100%;height:100%;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .sub-gap .sub-wrap ul > li.sub-menu {line-height:50px;width:100%;margin:0 40px;}
    #wrap #header .wrap .gap .container #nav > ul >li > .menu .sub .sub-gap .sub-wrap ul > li.sub-menu > a.sub-btn {display:block;width:100%;font-family: 'El Messiri';font-size:30px;font-weight:700;}

    /* 모바일 헤더 */
    #wrap #header .wrap .gap .container #nav .mobile-header {display:block;width:100%;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap {padding:40px;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap {width:100%;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-x-box {display:block;float:left;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-x-box > a {display:inline-block;width:25px;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-x-box > a > img {width:100%;}
    
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-lang {display:block;float:right;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-lang > a {display:inline-block;margin:0 10px;padding-bottom:1px;border-bottom:0;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-lang > a:hover {color:#fff;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-lang > a.addEvent {border-bottom:1px solid #111;}
    #wrap #header .wrap .gap .container #nav .mobile-header .mobile-header-gap .mobile-header-wrap span.MH-lang > a > span {font-family: 'Inconsolata';font-size:18px;}

    /* 모바일 푸터 */
    #wrap #header .wrap .gap .container #nav .mobile-footer {position:absolute;left:0;bottom:0;display:block;width:100%;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap {padding:40px;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap {width:100%;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-contact-box {width:50%;float:left;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-contact-box h4 {font-family: "El Messiri";font-size:30px;font-weight:700;padding-bottom:10px;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-contact-box h6 {font-size:14px;font-weight:400;font-family: 'Inconsolata';line-height:200%;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-contact-box h6 > a {display:inline-block;width:100%;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-contact-box h6 > a:hover {color:#fff;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-sns-box {float:right;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-sns-box > a {display:block;padding-bottom:20px;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-sns-box > a > i {font-size:25px;transition:all .3s;}
    #wrap #header .wrap .gap .container #nav .mobile-footer .mobile-footer-gap .mobile-footer-wrap .MF-sns-box > a:hover > i {color:#fff;}

    /* section1 */
    #wrap #main #section1 .wrap .gap .container .txt-gap {padding-top:25.1371519%;}


    /* section3 */
    #wrap #main #section3 .wrap .gap .container .top-box .top-gap .col1 {width:30%;text-align:center;} 
    #wrap #main #section3 .wrap .gap .container .top-box .top-gap .col2 {width:70%;} 
    #wrap #main #section3 .wrap .gap .container .top-box .top-gap .col .col-gap .img-box img {width:150px;}
    #wrap #main #section3 .wrap .gap .container .top-box .col .col-gap .img-box span .no {color:rgba(255,255,255, .9);font-size:65px;font-family: 'El Messiri';line-height:150px;} 

    
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap {width:100%;height:630.1025641px;position:relative;margin-left:-50%;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide {position:absolute;width:330px;height:397px;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide0 {position:relative;left:calc(330px*0);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide1 {left:calc(330px*1);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide2 {left:calc(330px*2);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide3 {left:calc(330px*3);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide4 {left:calc(330px*4);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide5 {left:calc(330px*5);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide6 {left:calc(330px*6);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide7 {left:calc(330px*7);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide8 {left:calc(330px*8);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide9 {left:calc(330px*-1);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide .slide-gap {margin:0 10px;}


    /* section4 */
    #wrap #main #section4 .wrap .gap .container .left {width:90%;float:none;margin:0 auto;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap {display:inline-block;width:64.1025641vw;position:relative;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide0 img {width:100%;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide1 img {width:64.1025641vw;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide2 img {width:64.1025641vw;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide1  {left:-40px;}
    #wrap #main #section4.addEvent .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide1  {left:-40px;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide2  {left:40px;}
    #wrap #main #section4.addEvent .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide2  {left:40px;}

    /* section5 */
    
    #wrap #main #section5 .wrap .gap .container .left {position:relative;width:90%;float:none;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap {border-top-right-radius:190px;border-bottom-right-radius:190px;overflow:hidden;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap .content-gap {padding:13.1578947% 5.5087719% 13.1578947% 5.5438596%;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap .content-gap .content .bottom-box .col1 {width:100%;float:none;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap .content-gap .content .bottom-box .col2 {width:100%;float:none;padding:50px 0;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap .content-gap .content .bottom-box .col img:nth-child(2) {z-index:1;position:absolute;top:-50px;left:60%;transform:rotate(15deg);}

    #wrap #main #section5 .wrap .gap .container .right {width:100%;float:none;}
    #wrap #main #section5 .wrap .gap .container .right .right-gap {padding:10.0827858% 10.0827858% 0;}
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content h6 {font-size:20px;font-weight:500;line-height:150%;width:40%;float:none;}
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content ul {padding-top:10%;width:100%;float:none;padding-bottom:50px;}

    /* section6 */
    #wrap #main #section6 {width:100%;height:950px;overflow:hidden;}
    #wrap #main #section6 .wrap .gap .container .content ul li {width:100%;float:none;text-align:center;padding:30px 0;}

    /* section7 */
    /* section7 박스내리기 */
    #wrap #main #section7 .wrap .gap .container .left {position:relative;width:80%;float:none;margin:0 30px;}
    #wrap #main #section7 .wrap .gap .container .right {width:50%;float:none;margin:0 auto;padding-top:100px;}
    #wrap #main #section7 .wrap .gap .container .left .img-box {display:none;}

    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube {width:300px;height:300px;transform:perspective(600px) rotate3d(0,0,0, 0deg);}


    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face0 {transform:rotateY(0deg)   translateZ(150px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face1 {transform:rotateY(90deg)  translateZ(150px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face2 {transform:rotateY(-90deg) translateZ(150px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face3 {transform:rotateY(180deg) translateZ(150px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face4 {transform:rotateX(90deg)  translateZ(150px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face5 {transform:rotateX(-90deg) translateZ(150px);}



    /* section9 */
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap {width:100%;height:100%;position:relative;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide {position:absolute;top:0;left:0;width:100%;height:100%;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide .col {position:absolute;width:50%;height:100%;top:0;background:url(../img/treasures0.jpg) no-repeat  50% 50% scroll;background-size:cover;/* background-attachment:scroll; */}

    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide0 {z-index:5;position:relative;width:100%;height:100%;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide0 .col {background-image:url(../img/treasures0.jpg);}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide0 .col0 {display:none;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide0 .col1 {width:100%;height:100%;}

    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide1 {z-index:4;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide1 .col {background-image:url(../img/treasures1.jpg)}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide1 .col0 {display:none;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide1 .col1 {width:100%;height:100%;}

    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide2 {}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide2 .col {background-image:url(../img/treasures2.jpg);}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide2 .col0 {display:none;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide2 .col1 {width:100%;height:100%;}

    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide3 {}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide3 .col {background-image:url(../img/treasures3.jpg)}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide3 .col0 {display:none;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide3 .col1 {width:100%;height:100%;}

    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide4 {}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide4 .col {background-image:url(../img/treasures4.jpg)}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide4 .col0 {display:none;}
    #wrap #main #section9 .wrap .gap .container .bottom .bottom-gap .slide-container .slide-view ul.slide-wrap li.slide4 .col1 {width:100%;height:100%;}

    /* section8 */
    #wrap #main #section8 .wrap .gap .container .left .left-gap .left-wrap ul.bottom li.col {width:100%;}
    #wrap #main #section8 .wrap .gap .container .left .left-gap .left-wrap ul.bottom li.col1 {float:none;}
    #wrap #main #section8 .wrap .gap .container .left .left-gap .left-wrap ul.bottom li.col2 {float:none;padding-top:30px;}
    #wrap #main #section8 .wrap .gap .container .left .left-gap .left-wrap ul.bottom li.col1 .img-box {width:100%;}

    /* section10 */
    #wrap #main #section10 .wrap .gap .container .top ul.btn-box {width:90%;}

    /* footer */
    #wrap #footer .wrap .gap {padding-top:11.4035088%;padding-bottom:11.4035088%;}

    #wrap #footer .wrap .gap .container .bottom .left {width:100%;float:none;height:auto;} 
    #wrap #footer .wrap .gap .container .bottom .right {width:100%;float:none;} 
    #wrap #footer .wrap .gap .container .bottom .left, .right {padding-top:0;} 
    #wrap #footer .wrap .gap .container .bottom .left .left-gap {margin:0 30px;}
    #wrap #footer .wrap .gap .container .bottom .left .left-gap .left-wrap .email-wrap {position:relative;width:70%;top:0;left:0;}
    #wrap #footer .wrap .gap .container .bottom .left .left-gap .left-wrap .email-wrap h2 {font-size:50px;padding-bottom:0;text-align:left;}
    #wrap #footer .wrap .gap .container .bottom .left .left-gap .left-wrap .sns-wrap {padding:30px 0;}
    #wrap #footer .wrap .gap .container .bottom h4 {font-size:24px;font-weight:700;}
    #wrap #footer .wrap .gap .container .bottom .right .right-gap .right-wrap ul {padding-top:20px;}
    #wrap #footer .wrap .gap .container .bottom .right .right-gap .right-wrap ul li.col {width:100%;float:none;height:auto;padding-top:20px;}
    #wrap #footer .wrap .gap .container .bottom .right .right-gap {margin:0 30px;}
    #wrap #footer .wrap .gap .container .bottom .right .right-gap .right-wrap ul li.col h4 {padding-bottom:20px;}

    /* cart */
    #cart .wrap .gap {padding:40px;}

    /* open */
    #open .wrap ul li {position:absolute;width:100%;height:50%;background:#111;transition:all 1s;}
    #open .wrap ul.addEvent li {width:100%;height:0}
    #open .wrap ul li:nth-child(1) {top:0;}
    #open .wrap ul li:nth-child(2) {bottom:0;}
    #open .wrap .logo {position:absolute;top:50%;margin-top:-100px;left:50%;margin-left:-75px;width:150px;}
    #open .wrap .logo img {width:100%;filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(86deg) brightness(118%) contrast(119%);transform:rotate(0);}
    #open .wrap .logo.addEvent img {animation:aniOpen linear 1s}
    @keyframes aniOpen {
        0% {transform:rotate(0);}
        25% {transform:rotate(13deg);}
        50% {transform:rotate(0);}
        75% {transform:rotate(-13deg);}
        100% {transform:rotate(0);}
        
    }


}

@media all and (max-width:600px){
    /* section2 */
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li {float:left;width:20%;height:50px;}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.division h4 {font-size:50px;}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.col .col-gap div {float:left;width:50%;}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.col .col-gap div.hours2 {margin-top:calc(-50px*1);}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.col .col-gap div.min1 {margin-top:calc(-50px*4);}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.col .col-gap div.min2 {margin-top:calc(-50px*7);}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.col .col-gap div.sec1 {margin-top:calc(-50px*2);}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.col .col-gap div.sec2 {margin-top:calc(-50px*5);}
    #wrap #main #section2 .wrap .gap .container .bottom-box .bottom-gap ul.timer-box li.col .col-gap div h5 {font-size:50px;}


    /* section3 */
    #wrap #main #section3 .wrap .gap .container .top-box {position:relative;}
    #wrap #main #section3 .wrap .gap .container .top-box .top-gap .col1 {position:absolute;top:-80px;right:10px;} 
    #wrap #main #section3 .wrap .gap .container .top-box .top-gap .col2 {width:90%;margin:0 auto;} 
    #wrap #main #section3 .wrap .gap .container .top-box .col .col-gap .txt-box p {font-size:18px;font-weight:300;line-height:150%;width:100%;} 
    #wrap #main #section3 .wrap .gap .container .top-box .top-gap .col .col-gap .img-box img {width:90px;}
    #wrap #main #section3 .wrap .gap .container .top-box .col .col-gap .img-box span .no {color:rgba(255,255,255, .9);font-size:40px;font-family: 'El Messiri';line-height:95px;} 

    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap {width:100%;height:540px;position:relative;margin-left:-50%;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide {position:absolute;width:250px;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide0 {position:relative;left:calc(250px*0);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide1 {left:calc(250px*1);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide2 {left:calc(250px*2);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide3 {left:calc(250px*3);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide4 {left:calc(250px*4);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide5 {left:calc(250px*5);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide6 {left:calc(250px*6);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide7 {left:calc(250px*7);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide8 {left:calc(250px*8);top:0;}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide9 {left:calc(250px*-1);top:0}
    #wrap #main #section3 .wrap .gap .container .bottom-box .slide-container .slide-view ul.slide-wrap li.slide .slide-gap {margin:0 10px;}

    /* section5 */
    #wrap #main #section5 .wrap .gap .container .left {border-top-right-radius:190px;border-bottom-right-radius:190px;overflow:hidden;}


    /* section6 */
    #wrap #main #section6 .wrap .gap .container .title {text-align:center;letter-spacing:1px;width:15%;margin:0 auto;text-align:center;}

    /* section8 */
    #wrap #main #section8 .wrap .gap .container .left .left-gap {padding:11.4035088%;}
    #wrap #main #section8 .wrap .gap .container .left {width:90%;float:none;border-top-right-radius:150px;overflow:hidden;}

    /* section9 */
    #wrap #main #section9 .wrap .gap .container .top {position:relative;width:100%;height:auto;padding-bottom:0px;padding:50px 0;text-align:center;}
    #wrap #main #section9 .wrap .gap .container .top .top-wrap {position:relative;top:0;right:0;width:100%;}
    #wrap #main #section9 .wrap .gap .container .top .top-wrap .img-box {display:none;}
    #wrap #main #section9 .wrap .gap .container .top .top-wrap .img-box img {}
    #wrap #main #section9 .wrap .gap .container .top .top-wrap .txt-box {display:inline-block;width:100%;padding-left:0;}
    #wrap #main #section9 .wrap .gap .container .top .top-wrap .txt-box .h2 {}

    /* footer */
    #wrap #footer .wrap .gap .container .success-msg {top:25%;left:50%;width:350px;height:200px;margin:-100px 0 0 -175px;}


}

@media all and (max-width:500px){
    /* 폰트조정 */
    #wrap h2 {font-size:40px;}
    #wrap #main #section1 h2 {font-size:50px;padding-top:100px;}



    
    #wrap #main #section5 .wrap .gap .container .left .content-wrap .content-gap .content .bottom-box .col h3 {font-size:30px;}
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content ul li a span.txt {font-family: 'El Messiri';font-size:30px;}

    /* section3 */
    #wrap #main #section3 .wrap .gap .container .top-box .top-gap .col2 {width:100%;} 

    /* section4 */
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap {display:inline-block;width:60vw;position:relative;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide0 img {width:100%;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide1 img {width:60vw;}
    #wrap #main #section4 .wrap .gap .container .right .right-gap .right-content .right-con-gap .right-con-wrap .slide2 img {width:60vw;}

    /* section5 */
    #wrap #main #section5 .wrap .gap .container .left {border-top-right-radius:110px;border-bottom-right-radius:110px;overflow:hidden;}
    #wrap #main #section5 .wrap .gap .container .left .content-wrap {border-top-right-radius:110px;border-bottom-right-radius:110px;overflow:hidden;}

    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content ul li a span.arrow {position:relative;float:right;width:15px;height:15px;padding-top:15px;margin-right:10px;}
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content ul li.addEvent a span.arrow i:nth-child(1) {top:50%;transform:rotate(-135deg);left:-5.5px}
    #wrap #main #section5 .wrap .gap .container .right .right-gap .right-content ul li a span.arrow i:nth-child(1) {top:50%}

    /* section6 */
    #wrap #main #section6 .wrap .gap .container .content ul li {padding:30px 0;}
    #wrap #main #section6 .wrap .gap .container .page-btn-wrap {margin-top:30px;}

    /* section7 */
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube {width:200px;height:200px;transform:perspective(400px) rotate3d(0,0,0, 0deg);} 


    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face0 {transform:rotateY(0deg)   translateZ(100px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face1 {transform:rotateY(90deg)  translateZ(100px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face2 {transform:rotateY(-90deg) translateZ(100px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face3 {transform:rotateY(180deg) translateZ(100px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face4 {transform:rotateX(90deg)  translateZ(100px);}
    #wrap #main #section7 .wrap .gap .container .right .right-gap .right-wrap ul.cube li.face5 {transform:rotateX(-90deg) translateZ(100px);}


    /* section8 */
    #wrap #main #section8 .wrap .gap .container  h3 {font-size:30px;}
    #wrap #main #section8 .wrap .gap .container .btn-box {width:200px;height:55px;text-align:center;}
    #wrap #main #section8 .wrap .gap .container .btn-box a.btn span:nth-child(1) {left:calc(100%*0)}
    #wrap #main #section8 .wrap .gap .container .btn-box a.btn span:nth-child(2) {left:calc(91%*1)}
    #wrap #main #section8 .wrap .gap .container .btn-box a.btn span:nth-child(3) {left:calc(91%*-1)}
    #wrap #main #section8 .wrap .gap .container .left .left-gap .left-wrap ul.bottom li.col1 .img-box {margin-left:-5%;}

  
    /* section10 */
    #wrap #main #section10 .wrap .gap .container .top ul.btn-box {width:100%;}
    #wrap #main #section10 .wrap .gap .container .top p {padding-bottom:40px;padding-bottom:60px;font-size:15px;}

    /* footer */
    #wrap #footer .wrap .gap .container .bottom .left .left-gap .left-wrap .email-wrap {width:80%;}
    

}

@media all and (max-width:450px){
    #wrap #main #section8 .wrap .gap .container .left .left-gap .left-wrap ul.bottom li.col1 .img-box {margin-left:-10%;}
     /* section6 */
     #wrap #main #section6 .wrap .gap .container .content ul li {padding:15px 0;}
}

@media all and (max-width:400px){
    #wrap #main #section8 .wrap .gap .container .left .left-gap .left-wrap ul.bottom li.col1 .img-box {margin-left:-20%;}
}